body {
    background-color: black;
    background-image: url("../img/orange.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#main-header {
    font-size: 3.5rem;
    font-weight: bold;
}

#div-header {
    padding: 5rem 2rem;
    color: whitesmoke;
    text-align: center;
}

form {
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 3rem;
}

/*
    Slides
*/

.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3500px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:13px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}
