body {
    background-image: none;
}

.table thead th {
    vertical-align: middle;
}

.container {
    border-radius: 5px;
    padding: 2rem 1rem;
    background-color: white;
}

.container-simu {
    border-radius: 5px;
    padding: 2rem 1rem;
    background-color: white;
    margin: 4rem 5rem;
}

#stats-table {
    width: 50%;
}

.simular {
    color: white;
    font-size: 20px;
    border-radius: 4px;
    padding: 10px 15px;
    border: 1px solid black;
}

.main-svg {
    width: 100%;
}

.svg-container {
    width: 100% !important;
}

#div-buttons {
    position: fixed;
    bottom: -4px;
    right: 10px;
}

.w-100-px {
    width: 100px;
}

/*
    Slides
*/
.wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    height: 50px;
}

.list {
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 3500px;
    margin-top: 0px;
}

.list li {
    display: table-cell;
    position: relative;
    text-align: center;
    cursor: grab;
    cursor: -webkit-grab;
    color: #efefef;
    vertical-align: middle;
}

.scroller {
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 7px;
    padding-top: 13px;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #fff;
}
