{% extends 'layout.html.j2' %}

{% block title %}

<title>Sistema de Filas - Deterministico</title>

{% endblock %}

{% block body %}

<header id="div-header">
    <h1 id="main-header">Modelagem e Simulação</h1>
    <h2>Sistema de Filas Deterministico</h2>
</header>

<div class="container">


</div>

{% endblock %}
