{% extends 'layout.html.j2' %}

{% block title %}

<title>Sistema de Filas - Aleatório</title>

{% endblock %}

{% block head %}

<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/simstyle.css')}}">

{% endblock %}

{% block body %}

<header id="div-header">
    <h1 id="main-header">Modelagem e Simulação</h1>
    <h2>Sistema de Filas - Aleatório</h2>

    {% if distr == "uniform" %}
    <h2> Distribuição uniforme </h2>
    {% else %}
    <h2> Distribuição </h2>
    {% endif %}
</header>

<div class="container-simu">
    <section id="simu-header" class="mt-0">
        <h2> Simulação - Como Funciona? </h2>
        <ul>
            <li> Especifique o <b> intervalo </b> de simulação - o padrão é de <b>1 segundo </b> </li>
            <li> Especifique a <b> quantidade </b> de simulações que deseja realizar - o padrão é de <b>20 clients</b> </li>
            <li> Clique em <b> Simular </b> para iniciar o processo </li>
            <li> Acompanhe em <b> tempo real </b> o preenchimento das <b> tabelas </b> e a criação dos <b> gráficos </b> </li>
            <li> Ao final será exibido um <b> relatório </b> da simulação </li>
        </ul>

        <div class="w-100 overflow-hidden mt-5">
            <div class="float-left mr-3">
                <label for="sim-gap" class="col-form-label ml-3 mr-3">
                    <b>
                        Intervalo:
                    </b>
                </label>

                <input id="sim-gap" class="form-control ml-3 mr-3" name="sim-gap" type="number" step="0.5" />
            </div>

            <div class="float-left ml-3">
                <label for="sim-gap" class="col-form-label ml-3 mr-3">
                    <b>
                        Quantidade de simulações:
                    </b>
                </label>

                <input id="simulation-count" class="form-control ml-3 mr-3" name="sim-gap" type="number" step="0.5" />
            </div>

            <div class="float-right d-flex">
                <button class="btn btn-success ml-3 mr-3 w-100-px"
                        onclick="startSimulation()">
                    Simular
                </button>
                <button class="btn btn-secondary ml-3 mr-3 w-100-px"
                        onclick="stopSimulation()">
                    Parar
                </button>
            </div>
        </div>

    </section>

    <section id="simulations" class="mt-5">
        <div class="w-100 pt-3">
            <div class="scroller scroller-left float-left mt-2">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="scroller scroller-right float-right mt-2">
                <i class="fa fa-chevron-right"></i>
            </div>

            <div class="wrapper">
                <nav class="nav nav-tabs list mt-2" id="slider-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="public" aria-expanded="true">Simulações</a>
                </nav>
            </div>

            <div class="tab-content p-3" id="tab-content">
                <div role="tabpanel" class="tab-pane fade active show mt-2" id="tab1" aria-labelledby="public-tab" aria-expanded="true">

                    <h4>
                        Abas de simulação
                    </h4>
                    <p>
                        A medida que uma nova simulação é realizada, uma nova aba aparece, especificando a respectiva tabela de simulação.
                    </p>
                    <p>
                        Clique nas abas para visualizar informações e gráficos de uma simulação específica.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="simu-graphs" class="mt-5">
        <hr class="w-100">
        <h3>Gráficos das Simulações</h3>
        <p> Os gráficos serão gerados a medida que as simulações vão sendo realizadas </p>

        <div class="row">

            <div class="col-sm-12">
                <div id="arrival-attendance-means-graph">

                </div>
            </div>
            <div class="col-sm-12">
                <div id="durations-graph">

                </div>
            </div>
            <div class="col-sm-12">
                <div id="queue-means-graph">

                </div>
            </div>
            <div class="col-sm-12">
                <div id="operator-total-graph">

                </div>
            </div>
            <div class="col-sm-12">
                <div id="system-means-graph">

                </div>
            </div>

        </div>
    </section>

    <section id="simu-summary" class="mt-5">
        <hr class="w-100">
        <h3>Relatório da Simulação</h3>


    </section>

</div>

<div id="div-buttons">
    <button class="bg-success simular"
            onclick="startSimulation()">
        Simular
    </button>
    <button class="bg-secondary simular"
            onclick="stopSimulation()">
        Parar
    </button>
</div>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/plotly/plotly-latest.min.js') }}"></script>
<script type="text/javascript">
    var clientCount = {{ clients }};
    var simulationURL = "{{ url_for('get_simulation') }}";
    var summaryURL = "{{ url_for('get_summary') }}";
</script>
<script src="{{ url_for('static', filename='js/tabslider.js') }}"></script>
<script src="{{ url_for('static', filename='js/simulation.js') }}"></script>

{% endblock %}
